<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue Basics</title>
</head>
<body>
  <div id="app">
    <ul>
      <!-- <li v-for="fruit in fruits">
        {{ fruit }}
      </li> -->
      <fruit-item 
        v-for="name in fruits"
        v-bind:fruit-name="name">
      </fruit-item>
    </ul>
  </div>
  <script>
    const FruitItem = {
      template: `<li>{{ fruitName }}</li>`,
      props: ['fruitName']
    }
    const App = {
      components: {
        FruitItem
      },
      data() {
        return {
          fruits: [
            'Apple', 'Banana', 'Cherry'
          ]
        }
      }
    }
    Vue.createApp(App).mount('#app');
  </script>
  <!-- <div id="app">
    <div v-if="active">Hello Vue!</div>
    <button v-on:click="toggle">Toggle</button>
  </div>
  <script>
    const App = {
      data() {
        return {
          active: false,
          counter: 0
        }
      },
      methods: {
        toggle() {
          this.active = !this.active
        }
      }
    }
    Vue.createApp(App).mount('#app');
  </script> -->
  <!-- <style>
    .orange {
      color: orange;
    }
  </style>
  <div id="app">
    <div v-bind:class="{ orange: active }">{{ counter }}</div>
    <button v-on:click="increase">Click me</button>
  </div>
  <script>
    const App = {
      data() {
        return {
          counter: 0,
          active: true
        }
      },
      methods: {
        increase() {
          this.counter += 1
        }
      }
      // mounted() {
      //   setInterval(() => {
      //     this.counter += 1;
      //   }, 1000)
      // }
    }
    const app = Vue.createApp(App).mount('#app'); 
  </script> -->
</body>
</html>